<div 
  id="separator-{{ section.id }}"
  class="separator section-spacing"
  style="
    --pt: {{ section.settings.pt }};
    --pb: {{ section.settings.pb }};
  "
>
  {% if section.settings.wrap_container %}
    <div class="container">
  {% endif %}
    <div class="separator-inner">
      <hr>
    </div>
  {% if section.settings.wrap_container %}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Separator",
  "tag": "div",
  "settings": [
    {
      "type": "checkbox",
      "id": "wrap_container",
      "label": "Wrap in container",
      "default": true
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Top",
      "min": 0,
      "max": 50,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Bottom",
      "min": 0,
      "max": 50,
      "step": 1,
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Separator",
      "category": "Layout"
    }
  ]
}
{% endschema %}
