/*
  Collection header
*/
.collection-header {
}

.collection-header[data-has-image="true"] {
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: var(--bg-image-mobile);
}

.collection-header[data-has-image="true"]::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(var(--overlay-color-rgb, 0 0 0) / var(--overlay-opacity, 0));
  backdrop-filter: blur(var(--overlay-blur, 0));
  pointer-events: none;
}

.collection-header[data-has-image="true"] .collection-header-inner {
  position: relative;
  z-index: 1;
  color: white;
}

.collection-header[data-has-image="true"] .collection-header-inner a[href]:focus-visible {
  outline-color: white;
}

.collection-header .breadcrumb-nav {
  display: inline-flex;
  margin: 0 0 .75rem;
}

@media (min-width: 600px) {
  .collection-header[data-has-image="true"] {
    background-image: var(--bg-image-desktop);
  }
}


/*
  Collection
*/
.collection {
}

.collection-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.collection-bar-count {
  margin: 0;
}

.collection-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(var(--mobile-cols, 1), 1fr);
  list-style: none;
  padding: 0;
  margin: 0;
  transition: all .2s ease-out;
}

.collection .pagination-wrapper {
  padding: 1.5rem 0 .5rem;
}

.collection-filters-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.collection-filter-price-range {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.collection-filter-price-range .input-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 50%;
}

.collection-filter-price-range .input {
  min-width: 90px;
}

.collection-filters-swatch {
  display: flex;
  border-radius: 50%;
  margin: 0 0.5rem 0 0;
  width: .9rem;
  height: .9rem;
}

.collection-filters-swatch img {
  display: flex;
  border-radius: 50rem;
}

#collection-filters-dialog .dialog-footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (min-width: 600px) and (max-width: 1199px) {
  .collection-grid {
    grid-template-columns: repeat(3, 1fr);
  } 
}

@media (min-width: 1200px) {
  .collection-bar {
    margin-bottom: 2rem;
  }
  .collection-grid {
    grid-template-columns: repeat(var(--desktop-cols, 1), 1fr);
  }
}
