/*
  Dialog (Modal/Drawer)
*/
.dialog {
  --dialog-transition-duration: 0.38s;
  --dialog-transition-easing: cubic-bezier(0.22, 1, 0.36, 1);
  position: fixed;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  width: min(85vw, var(--dialog-width, 400px));
  max-width: 100%;
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
  box-shadow: 0 0 .75rem rgb(var(--color-foreground) / .25);
  will-change: transform;
  transition: 
    background-color var(--dialog-transition-duration) var(--dialog-transition-easing),
    transform var(--dialog-transition-duration) var(--dialog-transition-easing), 
    opacity var(--dialog-transition-duration) var(--dialog-transition-easing);
}

.dialog:not([open]) {
  display: none !important;
}

html[data-theme="dark"] .dialog {
  box-shadow: 0 0 .75rem rgb(var(--color-background) / .5);
}

.dialog::backdrop {
  background: rgb(var(--color-foreground) / .6);
  cursor: pointer;
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E") 24 24, pointer;
  opacity: 0;
  transition: opacity var(--dialog-transition-duration) var(--dialog-transition-easing);
}

html[data-theme="dark"] .dialog::backdrop {
  background: rgb(var(--color-background) / .75);
}

.dialog[open]::backdrop {
  opacity: 1;
}

.dialog[open].is-closing::backdrop {
  opacity: 0;
}

@starting-style {
  .dialog[open]::backdrop {
    opacity: 0;
  }
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid rgb(var(--color-foreground) / var(--border-opacity));
}

.dialog-title {
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
}

.dialog-header button.dialog-close {
  margin: -.6rem -.5rem -.6rem 0;
}

.dialog-body {
  flex-grow: 1;
  padding: 1rem;
}

.dialog-footer {
  padding: 1rem 1rem;
  border-top: 1px solid rgb(var(--color-foreground) / var(--border-opacity));
}

.modal {
  transform: none;
  opacity: 1;
  border: 1px solid rgb(var(--color-foreground) / calc(var(--border-opacity) * .5));
  @starting-style {
    transform: scale(0.9);
    opacity: 0;
  }
}

.modal[open].is-closing {
  transform: scale(0.9);
  opacity: 0;
}

.drawer {
  margin: 0;
  height: 100dvh;
  max-width: 100%;
  max-height: none;
  display: flex;
  flex-direction: column;
}

.drawer-left {
  margin-right: auto;
  transform: translateX(-100%);
}

html[data-theme="dark"] .drawer-left {
  border-right: 1px solid rgb(var(--color-foreground) / calc(var(--border-opacity) * .5));
}

.drawer-right {
  margin-left: auto;
  transform: translateX(100%);
}

html[data-theme="dark"] .drawer-right {
  border-left: 1px solid rgb(var(--color-foreground) / calc(var(--border-opacity) * .5));
}

.drawer.drawer-left[open] {
  transform: none;
  @starting-style {
    transform: translateX(-100%);
  }
}

.drawer.drawer-right[open] {
  transform: none;
  @starting-style {
    transform: translateX(100%);
  }
}

.drawer.drawer-left[open].is-closing {
  transform: translateX(-100%);
}

.drawer.drawer-right[open].is-closing {
  transform: translateX(100%);
}


/*
  Social icons
*/
.social-icons {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}


/*
  Color scheme toggle
*/
theme-color-toggle {
  display: inline-flex;
}

theme-color-toggle fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  display: inline-flex;
  gap: .25rem;
}

theme-color-toggle label {
  position: relative;
  cursor: pointer;
}

theme-color-toggle label:has(input:checked),
theme-color-toggle label:has(input:checked):hover {
  color: rgb(var(--color-accent));
  background-color: rgb(var(--color-accent) / .1);
}

theme-color-toggle label:has(input:focus-visible) {
  outline-color: rgb(var(--color-accent));
}

#theme-color-toggle-sticky {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 9;
  background-color: rgb(var(--color-background) / .85);
  border: 1px solid rgb(var(--color-foreground) / var(--border-opacity));
  backdrop-filter: blur(5px);
  border-radius: 50rem;
  padding: .125rem .25rem;
  animation: theme-color-toggle-sticky-show 0.2s ease-out forwards;
}

@keyframes theme-color-toggle-sticky-show {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


/*
  Tooltip
*/
.theme-tooltip {
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  visibility: hidden;
  max-width: min(16rem, calc(100vw - 1rem));
  padding: .25rem .75rem;
  border-radius: var(--border-radius);
  background-color: rgb(var(--color-foreground) / .85);
  backdrop-filter: blur(5px);
  color: rgb(var(--color-background));
  box-shadow: 0 .25rem .5rem rgb(var(--color-foreground) / .15);
  font-size: .875rem;
  line-height: 1.25;
  opacity: 0;
  transform: translateY(.25rem);
  transition: opacity .15s ease, transform .15s ease, visibility 0s linear .15s;
}

.theme-tooltip.is-visible {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s, 0s, 0s;
}


/* 
  Payment icons
*/
.payment-icons {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.payment-icons ul {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 0.15em;
}

.payment-icons svg {
  display: flex;
  height: 20px;
  width: 100%;
}

.payment-icons-text {
  opacity: 0.75;
  text-align: center;
  margin: 0.25rem 0 0;
  font-size: .875em;
}


/*
  Theme notification
*/
.theme-notification {
  --color: var(--color-accent);
  position: fixed;
  z-index: 10;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(var(--color-background));
  border-radius: var(--border-radius);
  width: calc(100% - 2rem);
  max-width: 360px;
}

.theme-notification-inner {
  background-color: rgb(var(--color) / .05);
  border: 1px solid rgb(var(--color) / var(--border-opacity));
  /* box-shadow: 0 .25rem .5rem rgb(var(--color) / .15); */
  color: rgb(var(--color));
}

.theme-notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .75rem 1rem;
  border-bottom: 1px solid rgb(var(--color) / var(--border-opacity));
}

.theme-notification-header .heading {
  font-size: 1rem;
  margin: 0;
}

.theme-notification-header .btn-icon {
  margin: -.5rem -.75rem -.5rem 0;
  color: rgb(var(--color));
}

.theme-notification-header .btn-icon:hover {
  background-color: rgb(var(--color) / .1);
}

.theme-notification-header .btn-icon:active {
  background-color: rgb(var(--color) / .2);
}

.theme-notification-header .btn-icon:focus-visible {
  outline-color: rgb(var(--color));
}

.theme-notification-content {
  padding: 1rem;
}

.theme-notification-content p:last-child {
  margin: 0;
}
  

/*
  Menu dialog
*/
#menu-dialog .nav {
  margin-left: -1rem;
  margin-right: -1rem;
}

#menu-dialog .nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu-dialog .nav-item {
  border-bottom: 1px dotted rgb(var(--color-foreground) / var(--border-opacity));
}

#menu-dialog .nav-link {
  text-decoration: none;
  display: block;
  padding: .75em 1rem;
  transition: all .2s ease-out;
  outline-offset: -2px;
}

#menu-dialog .nav-link:hover {
  background-color: rgb(var(--color-foreground) / .05);
}

#menu-dialog .nav-link:active {
  background-color: rgb(var(--color-foreground) / .15);
}

#menu-dialog .nav-link.active {
  color: rgb(var(--color-accent));
  background-color: rgb(var(--color-accent) / .05);
  border-left: 2px solid rgb(var(--color-accent));
  padding-left: calc(1rem - 2px);
}

#menu-dialog .nav-link-group {
  display: flex;
}

#menu-dialog .nav-link-group .nav-link {
  flex: 1 1 auto;
}

#menu-dialog .nav-link-toggle {
  border: 0;
  background: transparent;
  color: currentColor;
  width: 2.5rem;
  min-height: 100%;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0;
  transition: background-color .2s ease;
  outline-offset: -2px;
}

#menu-dialog .nav-link-toggle:hover,
#menu-dialog .nav-link-toggle:focus-visible {
  background-color: rgb(var(--color-foreground) / .05);
}

#menu-dialog .nav-link-toggle svg {
  transition: transform .2s ease;
}

#menu-dialog .nav-link-toggle[aria-expanded="true"] svg {
  transform: rotate(180deg);
}

#menu-dialog .nav-list-sub {
  background-color: rgb(var(--color-foreground) / .05);
  padding: 0;
  border-radius: var(--border-radius);
  margin: .75rem 1rem 1rem;
  overflow: hidden;
}

#menu-dialog .nav-list-sub[hidden] {
  display: none;
}

#menu-dialog .nav-list-sub .nav-item:last-child {
  border: 0;
}

#menu-dialog .nav-list-sub .nav-link {
  font-size: .925em;
}

#menu-dialog .nav-list-sub .nav-list-sub {
  margin: 0 0 .75rem;
  border-radius: 0;
  border: none;
  background-color: transparent;
  padding: 0;
}

#menu-dialog .nav-list-sub .nav-list-sub .nav-item {
  border: 0;
}

#menu-dialog .nav-list-sub .nav-list-sub .nav-link {
  font-size: .875em;
}

#menu-dialog .social-icons-nav {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

#menu-dialog .social-icons {
  display: inline-flex;
  justify-content: center;
  background-color: rgb(var(--color-foreground) / .05);
  border-radius: 50rem;
  padding: .125rem .5rem;
}

#menu-dialog .dialog-footer {
  display: flex;
  justify-content: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
}


/*
  Cart dialog
*/
#cart-dialog .dialog-body {
  transition: opacity .2s ease-out;
}

#cart-dialog.is-loading .dialog-body {
  opacity: 0.5;
  pointer-events: none;
}

#cart-dialog .cart-items {
  display: flex;
  margin-bottom: 1.75rem;
}

html[data-cart-item-count="0"] #cart-dialog .cart-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

#cart-dialog .cart-empty-wrapper {
  text-align: center;
  padding: 2rem 1rem;
  margin: 0;
}

#cart-dialog .cart-empty-wrapper svg {
  margin: 0 0 .5rem;
  animation: cart-empty-icon 1.5s ease-in-out infinite alternate;
}

@keyframes cart-empty-icon {
  from { transform: translatex(-.5rem); }
  to { transform: translatex(.5rem); }
}

#cart-dialog .cart-empty-message {
  margin: 0 0 1.25rem;
}

#cart-dialog .cart-items-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1 1 auto;
  list-style: none;
  margin: 0;
  padding: 0;
}

#cart-dialog .cart-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

#cart-dialog .cart-item .img-wrapper {
}

#cart-dialog .cart-item .img-wrapper img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

#cart-dialog .cart-item-header {
  position: relative;
  margin: .125rem 0 .25rem;
}

#cart-dialog .cart-item-header .heading {
  margin: 0 3rem 0 0;
}

#cart-dialog .cart-item-header .heading a {
  text-decoration: none;
  color: inherit;
}

#cart-dialog .cart-item-header .heading a:hover {
  text-decoration: underline;
}

#cart-dialog .cart-item-header .btn-icon {
  position: absolute;
  top: 50%;
  right: -.5rem;
  transform: translateY(-50%);
}

#cart-dialog .cart-item-subtext {
  margin: 0 0 .125rem;
  opacity: 0.75;
}

#cart-dialog .cart-item-price .price-compare {
  opacity: 0.5;
}
#cart-dialog .cart-item .cart-discounts-list {
  padding: .25rem .75rem;
  margin: .75rem 0;
}

#cart-dialog .cart-item .cart-discounts-list li {
  display: flex;
  align-items: center;
  gap: .5rem;
}

#cart-dialog .cart-item .cart-discounts-list li svg {
  flex-shrink: 0;
}

#cart-dialog .cart-item-qty-switcher-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  margin: 1rem 0 .5rem;
}

#cart-dialog .cart-item .qty-switcher {
}

#cart-dialog .cart-item-price {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: .25rem;
  align-items: center;
  line-height: 1;
}

#cart-dialog .cart-note {
  display: block;
}

html[data-cart-item-count="0"] #cart-dialog .cart-note {
  display: none;
}

#cart-dialog .cart-note form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

html[data-cart-item-count="0"] #cart-dialog .dialog-footer {
  display: none;
}

#cart-dialog .dialog-footer .cart-discounts-list {
  padding: .25rem .75rem;
  margin: 0 0 .75rem;
}

#cart-dialog .dialog-footer .cart-discounts-list li {
  display: flex;
  align-items: center;
  gap: .5rem;
}

#cart-dialog .dialog-footer .cart-discounts-list li svg {
  flex-shrink: 0;
}

#cart-dialog .cart-subtotal-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 .75rem;
}

#cart-dialog .cart-subtotal {
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
}

#cart-dialog .cart-subtotal .price-compare {
  opacity: 0.5;
}

#cart-dialog .cart-taxes-shipping {
  opacity: 0.75;
  margin: -.375rem  0 1rem;
}

#cart-dialog .dialog-footer button[name="checkout"] {
  width: 100%;
  text-align: center;
}

#cart-dialog .payment-icons {
  display: flex;
  justify-content: center;
  margin: 1rem 0 -.25rem;
}