.product {
  
}

@media (max-width: 599px) {
  .product.section-spacing {
    padding-top: 1rem;
  }
}

@media (min-width: 1200px) {
  .product-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem
  }
}


/*
  Product gallery
*/
.product-gallery {
  display: block;
  margin-bottom: 1.5rem;
}

.product-gallery-main {
  position: relative;
}

.product-gallery-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "gallery-media";
  overflow: hidden;
}

.product-gallery-item {
  grid-area: gallery-media;
  opacity: 0;
  transform: translate3d(8%, 0, 0);
  pointer-events: none;
  transition: transform 220ms ease, opacity 220ms ease;
  will-change: transform, opacity;
  display: flex;
  background-color: rgb(var(--color-foreground) / 0.05);
}

.product-gallery-item.is-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  pointer-events: auto;
}

.product-gallery-item img,
.product-gallery-item video,
.product-gallery-item iframe {
  width: 100%;
  height: auto;
  display: block;
}

.product-gallery-item model-viewer {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.product-gallery-controls {}

.product-gallery-controls button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(var(--color-background) / 0.75);
  backdrop-filter: blur(4px);
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: var(--border-radius);
}

.product-gallery-controls button:hover {
  background: rgba(var(--color-background));
}

.product-gallery-controls button:active {
  background: rgba(var(--color-background) / 0.25);
}

.product-gallery-controls button[data-gallery-prev] {
  left: 1rem;
}

.product-gallery-controls button[data-gallery-next] {
  right: 1rem;
}

.product-gallery-thumbnails {
  list-style: none;
  margin: 0.75rem 0 0;
  padding: 0;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(var(--thumb-columns, 8), minmax(0, 1fr));
}

.product-gallery-thumbnail-item {
  margin: 0;
}

.product-gallery-thumbnail {
  appearance: none;
  border: 1px solid rgb(var(--color-foreground) / var(--border-opacity));
  border-radius: var(--border-radius);
  background: rgb(var(--color-background));
  padding: 0;
  width: 100%;
  display: block;
  cursor: pointer;
  position: relative;
  transition: border-color .2s ease-out;
}

.product-gallery-thumbnail:hover {
  border-color: rgb(var(--color-foreground) / calc(var(--border-opacity) * 2));
}

.product-gallery-thumbnail:focus-visible {
  outline: 2px solid rgb(var(--color-foreground));
  outline-offset: 2px;
}

.product-gallery-thumbnail.is-active {
  border-color: rgb(var(--color-accent));
}

.product-gallery-thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: inherit;
}

.product-gallery-thumbnail span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  padding: .25rem;
  box-sizing: border-box;
  background-color: rgb(var(--color-background) / 0.75);
  color: rgb(var(--color-foreground) / 0.75);
  backdrop-filter: blur(4px);
  transition: all .2s ease-out;
}

.product-gallery-thumbnail:hover span,
.product-gallery-thumbnail.is-active span {
  background-color: rgb(var(--color-background));
}

@media (max-width: 599px) {
  .product-gallery-main {
    margin-top: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
  }
}


/*
  Product vendor [block]
*/
.product-block[data-type="vendor"] p {
  margin: 0;
  letter-spacing: calc(var(--letter-spacing) * 2);
}


/*
  Product title [block]
*/
.product-block[data-type="title"] .heading {
  margin: 0;
}


/*
  Product price [block]
*/
.product-block[data-type="price"] .price {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 0.5em;
}

.product-block[data-type="price"] .price-compare {
  opacity: 0.5;
}

.product-block[data-type="price"] .price-sale {}

.product-block[data-type="price"] .price-regular {}

.product-block[data-type="price"] .price-unit {
  font-size: 0.725em;
  opacity: 0.75;
}

.product-block[data-type="price"] .badge-sale {
  background-color: rgb(var(--color-accent));
}

.product-block[data-type="price"] .badge-sold-out {
  background-color: rgb(var(--color-foreground) / 0.75);
}

.product-block[data-type="price"] [data-has-price-compare="true"] .price-regular,
.product-block[data-type="price"] [data-has-price-compare="false"] .price-compare,
.product-block[data-type="price"] [data-has-price-compare="false"] .price-sale,
.product-block[data-type="price"] [data-has-price-compare="false"] .badge-sale,
.product-block[data-type="price"] [data-has-price-unit="false"] .price-unit,
.product-block[data-type="price"] [data-available="false"] .badge-sale,
.product-block[data-type="price"] [data-available="true"] .badge-sold-out {
  display: none;
}

.product-block[data-type="price"] shopify-payment-terms {
  display: block;
  font-size: .875em;
  margin: .125em 0 0;
}

.product-block[data-type="price"] .price-taxes-info {
  opacity: 0.75;
  margin: 0.25em 0 0;
}
