/*
  Header
*/
#header-group.sticky {
  position: sticky;
  top: 0;
  z-index: 3;
  transition: transform 0.3s ease-out;
}

#header-group.sticky.hide {
  transform: translateY(-100%);
}

#header {
  background-color: rgb(var(--color-background));
  background-image: var(--color-background-gradient);
  color: rgb(var(--color-foreground));
  padding-top: var(--pt);
  padding-bottom: var(--pb);
}

#header[data-border-bottom="true"] {
  border-bottom: 1px solid rgb(var(--color-foreground) / .15);
}

#header[data-box-shadow="true"] {
  box-shadow: 0 .25rem .375rem rgb(var(--color-foreground) / .075);
}

#header-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.header-col:nth-child(1) {
  justify-self: start;
  margin-left: -.25rem;
}

.header-col:nth-child(2) {
  justify-self: center;
  text-align: center;
}

.header-col:nth-child(3) {
  justify-self: end;
  margin-right: -.25rem;
}

#header h1 {
  font-family: var(--font-headings-family);
  font-weight: var(--font-headings-weight);
  color: rgb(var(--color-foreground));
  margin: 0;
  font-size: 1rem;
}

a#header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-theme="light"] [data-has-dark-logo="true"] img#header-logo-dark {
  display: none;
}

[data-theme="dark"] [data-has-dark-logo="true"] img#header-logo-default {
  display: none;
}

@media (min-width: 1200px) {
  #header {
    padding-top: calc(var(--pt) * 1.25);
    padding-bottom: calc(var(--pb) * 1.25);
  }
}


/*
  Announcement bar
*/
.announcement-bar {
  background-color: rgb(var(--color-background));
  background-image: var(--color-background-gradient);
  color: rgb(var(--color-foreground));
  text-align: center;
  padding-top: var(--pt);
  padding-bottom: var(--pb);
}

.announcement-bar[data-border-bottom="true"] {
  border-bottom: 1px solid rgb(var(--color-foreground) / var(--border-opacity));
}

.announcement-bar a {
  color: currentColor;
  text-decoration: underline;
}

@media (min-width: 1200px) {
  .announcement-bar {
    padding-top: calc(var(--pt) * 1.25);
    padding-bottom: calc(var(--pb) * 1.25);
  }
}


/*
  Hero media
*/
.hero-media {
  position: relative;
}

.hero-media::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(var(--overlay-color-rgb, 0 0 0) / var(--overlay-opacity, 0));
  backdrop-filter: blur(var(--overlay-blur, 0));
  pointer-events: none;
}

.hero-media .placeholder-svg {
  width: 100%;
  height: auto;
  max-height: 600px;
}

.hero-media img,
.hero-media video,
.hero-media iframe {
  display: block;
  width: 100%;
  height: 100%;
  min-height: var(--min-height, auto);
  max-height: var(--max-height, none);
  object-fit: cover;
}

.hero-media iframe.hero-media-external-video {
  pointer-events: none;
}

.hero-media-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: rgb(var(--content-color, 255 255 255));
  text-align: center;
  display: flex;
  align-items: center;
}

.hero-media-content-inner {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .hero-media-content-inner.left {
    margin-left: 0;
    margin-right: auto;
    text-align: left;
  }

  .hero-media-content-inner.right {
    margin-left: auto;
    margin-right: 0;
    text-align: right;
  }
}


/*
  Contact form
*/
.contact-form {
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
  padding-top: var(--pt);
  padding-bottom: var(--pb);
}

.contact-form form {}

@media (min-width: 1200px) {
  .contact-form {
    padding-top: calc(var(--pt) * 1.25);
    padding-bottom: calc(var(--pb) * 1.25);
  }
}


/*
  FAQ
*/
.faq {
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
  padding-top: var(--pt);
  padding-bottom: var(--pb);
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.faq-item {
  border: 1px solid rgb(var(--color-foreground) / var(--border-opacity));
  border-radius: var(--border-radius);
  overflow: clip;
  background-color: rgb(var(--color-background));
  outline: 1px solid transparent;
  transition: all .2s ease;
}

.faq-item:has(:focus-visible) {
  outline-color: currentColor;
}

.faq-item[open] {
  border-color: rgb(var(--color-accent));
}

.faq-question {
  list-style: none;
  margin: 0;
  padding: .75em 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  transition: all .2s ease;
  outline: none;
}


.faq-question:hover {
  background-color: rgb(var(--color-foreground) / .05);
}

.faq-question:focus-visible {
  background-color: rgb(var(--color-foreground) / .05);
}

.faq-item[open] .faq-question {
  background-color: rgb(var(--color-accent) / .1);
  color: rgb(var(--color-accent));
}

.faq-icon {
  display: inline-flex;
  transition: transform .2s ease;
  margin-right: -.25rem;
}

.faq-item[open] .faq-icon {
  transform: rotate(180deg);
}

.faq-answer {
  padding: 1rem;
}

@media (min-width: 1200px) {
  .faq {
    padding-top: calc(var(--pt) * 1.25);
    padding-bottom: calc(var(--pb) * 1.25);
  }
}