/*
  Body
*/
body {
  font-family: var(--font-body-family);
  font-weight: var(--font-body-weight);
  font-size: var(--body-base-size, 1rem);
  color: rgb(var(--color-foreground));
  background-color: rgb(var(--color-background));
  letter-spacing: var(--letter-spacing);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

#main { flex: 1; }


/*
  Accessibility
*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.skip-link {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
  border-radius: 0;
  padding: .5rem 1rem;
  z-index: 100;
  transform: translateY(-100%);
  transition: opacity .3s ease, transform .3s ease;
  opacity: 0;
}

.skip-link:focus {
  opacity: 1;
  transform: translateY(0);
}


/*
  Container
*/
.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}


/*
  Headings
*/
h1, .h1, 
h2, .h2, 
h3, .h3, 
h4, .h4, 
h5, .h5, 
h6, .h6 {
  font-family: var(--font-headings-family);
  font-weight: var(--font-headings-weight);
  margin: 0 0 .35em 0;
  letter-spacing: calc(var(--letter-spacing) * 1.25);
}

h1, .h1 { font-size: calc(var(--headings-base-size) * 2.5); }
h2, .h2 { font-size: calc(var(--headings-base-size) * 2); }
h3, .h3 { font-size: calc(var(--headings-base-size) * 1.75); }
h4, .h4 { font-size: calc(var(--headings-base-size) * 1.5); }
h5, .h5 { font-size: calc(var(--headings-base-size) * 1.25); }
h6, .h6 { font-size: calc(var(--headings-base-size) * 1); }

.subheading {
  text-transform: uppercase;
  font-size: .875rem;
  letter-spacing: calc(var(--letter-spacing) * 2);
  margin: 0 0 .6em 0;
}


/*
  Links
*/
a {
  color: rgb(var(--color-foreground));
  text-decoration: underline;
  outline: 2px solid transparent;
}

a:hover {
  color: rgb(var(--color-foreground) / .85);
}

a:focus-visible {
  text-decoration: none;
  outline-color: rgb(var(--color-foreground));
}

a[href="#"],
a[href=""],
a:not([href]) {
  cursor: not-allowed;
  opacity: .5;
}


/*
  Buttons
*/
button,
.btn {
  font-family: var(--font-body-family);
  font-weight: var(--font-body-weight);
  color: rgb(var(--color-foreground));
  background: transparent;
  border: none;
  border-radius: var(--border-radius);
  padding: .5em 1em;
  cursor: pointer;
  display: inline-flex;
  box-sizing: border-box;
  font-size: 1em;
  text-decoration: none;
  letter-spacing: var(--letter-spacing);
  transition: all .3s ease;
  outline: 2px solid transparent;
  outline-offset: 1px;
}

.btn-primary {
  background-color: rgb(var(--color-btn-primary-background) / var(--color-btn-primary-background-opacity));
  border: 1px solid rgb(var(--color-btn-primary-border));
  color: rgb(var(--color-btn-primary-foreground));
}

.btn-primary:hover {
  color: rgb(var(--color-btn-primary-foreground));
  background-color: rgb(var(--color-btn-primary-background) / max(calc(var(--color-btn-primary-background-opacity) * .85), .05));
}

.btn-primary:active {
  color: rgb(var(--color-btn-primary-foreground));
  background-color: rgb(var(--color-btn-primary-background) / max(calc(var(--color-btn-primary-background-opacity) * .75), .15));
}

.btn-primary:focus-visible {
  outline-color: rgb(var(--color-btn-primary-border));
}

.btn-secondary {
  background-color: rgb(var(--color-btn-secondary-background) / var(--color-btn-secondary-background-opacity));
  border: 1px solid rgb(var(--color-btn-secondary-border));
  color: rgb(var(--color-btn-secondary-foreground));
}

.btn-secondary:hover {
  color: rgb(var(--color-btn-secondary-foreground));
  background-color: rgb(var(--color-btn-secondary-background) / max(calc(var(--color-btn-secondary-background-opacity) * .85), .05));
}

.btn-secondary:active {
  color: rgb(var(--color-btn-secondary-foreground));
  background-color: rgb(var(--color-btn-secondary-background) / max(calc(var(--color-btn-secondary-background-opacity) * .75), .15));
}

.btn-secondary:focus-visible {
  outline-color: rgb(var(--color-btn-secondary-border));
}

.btn.fs-sm {
  padding: .25em .75em;
  font-size: .875em;
}

.btn.fs-lg {
  padding: .75em 1.5em;
  font-size: 1.125em;
}

.btn-full {
  justify-content: center;
  width: 100%;
}

.btn-group {
  display: inline-flex;
  gap: .75em;
}

.description + .btn-group {
  margin-top: 1.75em;
}

.btn-with-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .75em;
}

.btn-icon {
  padding: .5rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(var(--color-foreground));
  box-sizing: border-box;
  border-radius: 50%;
  transition: all .3s ease;
  outline: 2px solid transparent;
}

.btn-icon:hover {
  background-color: rgb(var(--color-foreground) / .05);
}

.btn-icon:active {
  background-color: rgb(var(--color-foreground) / .15);
}

.btn-icon:focus-visible {
  outline-color: rgb(var(--color-foreground));
}


/*
  Form
*/
.input {
  font-family: var(--font-body-family);
  color: rgb(var(--color-foreground));
  background-color: rgb(var(--color-background));
  border: 1px solid rgb(var(--color-foreground) / var(--border-opacity));
  border-radius: var(--border-radius);
  padding: .5em 1em;
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-size: 1em;
  letter-spacing: var(--letter-spacing);
  transition: all .3s ease;
  outline: 1px solid transparent;
}

.input:hover {
  border-color: rgb(var(--color-foreground) / calc(var(--border-opacity) * 2));
}

.input:focus {
  border-color: rgb(var(--color-accent));
  outline-color: transparent;
}

.input:focus-visible {
  outline-color: rgb(var(--color-accent));
}

textarea.input {
  padding-top: .75em;
  padding-bottom: .75em;
}

.form-group {
  margin-bottom: 1.5em;
}

label:has(+ .input) {
  display: block;
  margin-bottom: .5em;
}

label .required {
  color: rgb(var(--color, var(--color-accent)));
  vertical-align: middle;
}


/*
  Tables
*/
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table {
  caption-side: bottom;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid rgb(var(--color-foreground));
  table-layout: auto;
  margin: 0 0 1.5em 0;
}

.table caption {
  line-height: normal;
  margin: 0.75em 0;
  font-size: 0.875em;
  opacity: 0.7;
}

.table thead {
  background-color: rgb(var(--color-foreground) / .05);
}

.table th,
.table td {
  padding: 0.375em 1em;
  border: 1px solid rgb(var(--color-foreground) / var(--border-opacity));
  text-align: left;
  /* white-space: nowrap; */
}

@media (max-width: 599px) {
  .table-responsive {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
  }
}


/*
  Alerts
*/
.alert {
  --color: var(--color-accent);
  padding: .75em 1.25em;
  border-radius: var(--border-radius);
  margin-bottom: 1.5em;
  border: 1px solid rgb(var(--color) / var(--border-opacity));
  background-color: rgb(var(--color) / .05);
  color: rgb(var(--color));
}

.alert p:last-child {
  margin-bottom: 0;
}

html[data-theme="light"] .alert-success {
  --color: 0 130 54; 
}

html[data-theme="light"] .alert-error {
  --color: 239 68 68;
}

html[data-theme="light"] .alert-warning {
  --color: 187 77 0;
}

html[data-theme="dark"] .alert-success {
  --color: 110 231 183;
}

html[data-theme="dark"] .alert-error {
  --color: 252 165 165;
}

html[data-theme="dark"] .alert-warning {
  --color: 253 186 116;
}


/*
  Separator
*/
hr, .hr {
  border: none;
  border-top: 1px solid rgb(var(--color-foreground) / var(--border-opacity));
  margin: 2em 0;
}


/*
  Section header
*/
.section-header {
  margin-bottom: 1.75em;
  max-width: 600px;
}

.section-header.text-left {
  margin-left: 0;
  margin-right: auto;
}

.section-header.text-center {
  margin-left: auto;
  margin-right: auto;
}

.section-header.text-right {
  margin-left: auto;
  margin-right: 0;
}


/*
  Various
*/
p {
  margin-top: 0;
  margin-bottom: 1.5em;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 1.5em;
  padding-left: 2em;
}

.description, .rte {
  line-height: 1.5;
}

.description p:last-child,
.rte p:last-child {
  margin-bottom: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

iframe[src*="youtube.com"],
iframe[src*="vimeo.com"] {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.shopify-challenge__container {
  padding: 2.5rem;
}

.shopify-policy__container {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important;
  max-width: 720px !important;
}

shop-follow-button {
  background: white;
  display: inline-flex;
  border-radius: 50rem;
  padding: 1px;
  transition: all .2s ease-out
}

shop-follow-button:hover {
  opacity: .85;
}


/*
  Utility classes
*/
.fs-sm { font-size: .875em } 
.fs-md { font-size: 1em } 
.fs-lg { font-size: 1.125em } 

.text-left { text-align: left } 
.text-center { text-align: center } 
.text-right { text-align: right }
