/*
  Body
*/
body {
  font-family: var(--font-body-family);
  font-weight: var(--font-body-weight);
  font-size: var(--body-base-size, 1rem);
  color: rgb(var(--color-foreground));
  background-color: rgb(var(--color-background));
  letter-spacing: var(--letter-spacing);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

#main { flex: 1; }


/*
  Accessibility
*/
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border-width: 0 !important;
}

.skip-link {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
  border-radius: 0;
  padding: .5rem 1rem;
  z-index: 100;
  transform: translateY(-100%);
  transition: opacity .3s ease, transform .3s ease;
  opacity: 0;
}

.skip-link:focus {
  opacity: 1;
  transform: translateY(0);
}


/*
  Container
*/
.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

.container-fluid {
  max-width: none;
}

.container-full {
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1199px) {
  .container {
    max-width: 800px;
  }
}

/*
  Utility classes
*/
.fs-sm {
  font-size: .875em;
}
.fs-md {
  font-size: 1em;
}
.fs-lg {
  font-size: 1.125em;
}
.fs-xl {
  font-size: 1.25em;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.text-capitalize {
  text-transform: capitalize;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}


/*
  Headings
*/
h1, .h1, 
h2, .h2, 
h3, .h3, 
h4, .h4, 
h5, .h5, 
h6, .h6 {
  font-family: var(--font-headings-family);
  font-weight: var(--font-headings-weight);
  margin: 0 0 .35em 0;
  letter-spacing: calc(var(--letter-spacing) * 1.25);
}

h1, .h1 { font-size: calc(var(--headings-base-size) * 2.5); }
h2, .h2 { font-size: calc(var(--headings-base-size) * 2); }
h3, .h3 { font-size: calc(var(--headings-base-size) * 1.75); }
h4, .h4 { font-size: calc(var(--headings-base-size) * 1.5); }
h5, .h5 { font-size: calc(var(--headings-base-size) * 1.25); }
h6, .h6 { font-size: calc(var(--headings-base-size) * 1); }

.subheading {
  text-transform: uppercase;
  font-size: .875rem;
  letter-spacing: calc(var(--letter-spacing) * 2);
  margin: 0 0 .6em 0;
}


/*
  Links
*/
a {
  color: rgb(var(--color-foreground));
  text-decoration: underline;
  outline: 2px solid transparent;
  transition: color .2s ease-out;
}

a:hover {
  color: rgb(var(--color-foreground) / .85);
}

a:active {
  color: rgb(var(--color-foreground) / .75);
}

a.active {
  color: rgb(var(--color-accent));
}

a:focus-visible {
  text-decoration: none;
  outline-color: rgb(var(--color-foreground));
}

a[href="#"],
a[href=""],
a:not([href]) {
  cursor: not-allowed;
  opacity: .5;
}


/*
  Buttons
*/
button,
.btn {
  font-family: var(--font-body-family);
  font-weight: var(--font-body-weight);
  color: rgb(var(--color-foreground));
  background: transparent;
  border: none;
  border-radius: var(--border-radius);
  padding: .5em 1em;
  cursor: pointer;
  display: inline-flex;
  box-sizing: border-box;
  font-size: 1em;
  text-decoration: none;
  letter-spacing: var(--letter-spacing);
  transition: all .3s ease;
  outline: 2px solid transparent;
  outline-offset: 1px;
}

button:focus-visible,
.btn:focus-visible {
  outline-color: rgb(var(--color-foreground));
}

button:disabled,
.btn:disabled,
.btn.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn-primary {
  background-color: rgb(var(--color-btn-primary-background) / var(--color-btn-primary-background-opacity));
  border: 1px solid rgb(var(--color-btn-primary-border));
  color: rgb(var(--color-btn-primary-foreground));
}

.btn-primary:hover {
  color: rgb(var(--color-btn-primary-foreground));
  background-color: rgb(var(--color-btn-primary-background) / max(calc(var(--color-btn-primary-background-opacity) * .85), .05));
}

.btn-primary:active {
  color: rgb(var(--color-btn-primary-foreground));
  background-color: rgb(var(--color-btn-primary-background) / max(calc(var(--color-btn-primary-background-opacity) * .75), .15));
}

.btn-primary:focus-visible {
  outline-color: rgb(var(--color-btn-primary-border));
}

.btn-secondary {
  background-color: rgb(var(--color-btn-secondary-background) / var(--color-btn-secondary-background-opacity));
  border: 1px solid rgb(var(--color-btn-secondary-border));
  color: rgb(var(--color-btn-secondary-foreground));
}

.btn-secondary:hover {
  color: rgb(var(--color-btn-secondary-foreground));
  background-color: rgb(var(--color-btn-secondary-background) / max(calc(var(--color-btn-secondary-background-opacity) * .85), .05));
}

.btn-secondary:active {
  color: rgb(var(--color-btn-secondary-foreground));
  background-color: rgb(var(--color-btn-secondary-background) / max(calc(var(--color-btn-secondary-background-opacity) * .75), .15));
}

.btn-secondary:focus-visible {
  outline-color: rgb(var(--color-btn-secondary-border));
}

.btn.fs-sm {
  padding: .4em .75em;
  font-size: .875em;
}

.btn.fs-lg {
  padding: .6em 1.25em;
  font-size: 1.125em;
}

.btn-full {
  justify-content: center;
  width: 100%;
}

.btn-group {
  display: inline-flex;
  gap: .75em;
}

.description + .btn-group {
  margin-top: 1.75em;
}

.btn-with-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .75em;
}

.btn-icon {
  padding: .5rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(var(--color-foreground));
  box-sizing: border-box;
  border-radius: 50%;
  transition: all .3s ease;
  outline: 2px solid transparent;
}

.btn-icon:hover {
  background-color: rgb(var(--color-foreground) / .05);
}

.btn-icon:active {
  background-color: rgb(var(--color-foreground) / .15);
}

.btn-icon:focus-visible {
  outline-color: rgb(var(--color-foreground));
}

.btn.is-loading {
  position: relative;
}

.btn.is-loading span {
  opacity: 0;
}

.btn.is-loading::after {
  content: "";
  display: block;
  width: 1.1em;
  height: 1.1em;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -0.55em;
  margin-left: -0.55em;
  box-sizing: border-box;
  border-radius: 50%;
  border: 0.125em solid currentcolor;
  border-right-color: transparent;
  animation: loading-spinner 0.75s linear infinite;
}

@keyframes loading-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*
  Form
*/
.input {
  font-family: var(--font-body-family);
  color: rgb(var(--color-foreground));
  background-color: rgb(var(--color-background));
  border: 1px solid rgb(var(--color-foreground) / var(--border-opacity));
  border-radius: var(--border-radius);
  padding: .5em .75em;
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-size: 1em;
  letter-spacing: var(--letter-spacing);
  transition: all .3s ease;
  outline: 1px solid transparent;
}

.input:hover {
  border-color: rgb(var(--color-foreground) / calc(var(--border-opacity) * 2));
}

.input:focus {
  border-color: rgb(var(--color-foreground));
  outline-color: transparent;
}

.input:focus-visible {
  outline-color: rgb(var(--color-foreground));
}

.input.input-sm {
  padding: .25em .75em;
  font-size: .875em;
}

.input.input-lg {
  padding: .75em 1.25em;
  font-size: 1.125em;
}

.form-group {
  margin-bottom: 1.5em;
}

label:has(+ .input) {
  display: block;
  margin-bottom: .5em;
}

label .required {
  color: rgb(var(--color, var(--color-accent)));
  vertical-align: middle;
}

textarea.input {
  padding-top: .75em;
  padding-bottom: .75em;
}

.input-wrapper {
  position: relative;
}

select.input {
  appearance: none;
  padding-right: 2.25em;
}

select.input + svg {
  position: absolute;
  right: .5em;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  width: 1.125em;
  height: 1.125em;
}

.check-label {
  display: flex;
  align-items: center;
  padding: 0.375em 0;
  margin: 0;
}

input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  width: 1.125em;
  height: 1.125em;
  padding: 0;
  margin: 0 0.75em 0 0;
  border-radius: var(--border-radius);
  background-color: rgb(var(--color-background));
  border: 1px solid rgb(var(--color-foreground));
  outline: 1px solid transparent;
  outline-offset: 0;
  transition: all 0.2s ease-out;
  flex-shrink: 0;
  position: relative;
}

input[type="radio"] {
  border-radius: 50rem;
}

input[type="checkbox"]:checked {
  background-color: rgb(var(--color-foreground));
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 35%;
  top: 10%;
  width: 25%;
  height: 55%;
  border: solid rgb(var(--color-background));
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  border-radius: 50rem;
  background-color: rgb(var(--color-foreground));
}

.check-label:hover input,
input[type="checkbox"]:hover,
input[type="radio"]:hover {
  outline-color: rgb(var(--color-foreground) / .25);
}

input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
  cursor: not-allowed;
  opacity: 0.25;
}

input[type="checkbox"]:focus-visible,
input[type="radio"]:focus-visible {
  outline-color: rgb(var(--color-background));
  box-shadow: 0 0 0 3px rgb(var(--color-foreground) / 0.75);
}

input[type="file"]::file-selector-button {
  border: 1px solid rgb(var(--color-foreground) / var(--border-opacity));
  border-radius: var(--border-radius);
  background-color: rgb(var(--color-foreground) / 0.05);
  color: rgb(var(--color-foreground) / 1);
  transition: all 0.2s ease-out;
  font-size: 0.875em;
  padding: 0.25rem 0.5rem;
  margin: 0 0.75rem 0 -0.125rem;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  border-color: rgb(var(--color-foreground));
}

.form-helper-text {
  font-size: 0.875em;
  color: rgb(var(--color-foreground) / 0.75);
  margin: 0.375em 0 0;
}


/*
  Tables
*/
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table {
  caption-side: bottom;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid rgb(var(--color-foreground));
  table-layout: auto;
  margin: 0 0 1.5em 0;
}

.table caption {
  line-height: normal;
  margin: 0.75em 0;
  font-size: 0.875em;
  opacity: 0.7;
}

.table thead {
  background-color: rgb(var(--color-foreground) / .05);
}

.table th,
.table td {
  padding: 0.375em 1em;
  border: 1px solid rgb(var(--color-foreground) / var(--border-opacity));
  text-align: left;
  /* white-space: nowrap; */
}

@media (max-width: 599px) {
  .table-responsive {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
  }
}


/*
  Alerts
*/
.alert {
  --color: var(--color-accent);
  padding: .75em 1.25em;
  border-radius: var(--border-radius);
  margin-bottom: 1.5em;
  border: 1px solid rgb(var(--color) / var(--border-opacity));
  background-color: rgb(var(--color) / .05);
  color: rgb(var(--color));
}

.alert p:last-child {
  margin-bottom: 0;
}

.alert-success {
  --color: var(--color-alert-success) !important;
}

.alert-error {
  --color: var(--color-alert-error) !important;
}

.alert-warning {
  --color: var(--color-alert-warning) !important;
}


/*
  Badge
*/
.badge {
  display: inline-flex;
  padding: .2em .75em;
  font-size: 0.625em;
  font-weight: 600;
  letter-spacing: calc(var(--letter-spacing) * 2);
  color: rgb(var(--color-background));
  background-color: rgb(var(--color-accent) / .1);
  border-radius: var(--border-radius);
  text-transform: uppercase;
}


/*
  Collapse
*/
.theme-collapse-details {
  border: 1px solid rgb(var(--color-foreground) / var(--border-opacity));
  border-radius: var(--border-radius);
  overflow: clip;
  background-color: rgb(var(--color-background));
  outline: 1px solid transparent;
  transition: all .2s ease;
}

.theme-collapse-details:has(:focus-visible) {
  outline-color: currentColor;
}

.theme-collapse-details[open] {
  border-color: rgb(var(--color-accent) / calc(var(--border-opacity) * 2));
}

.theme-collapse-summary {
  list-style: none;
  margin: 0;
  padding: .75em 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  transition: all .2s ease;
  outline: none;
}

.theme-collapse-summary:hover {
  background-color: rgb(var(--color-foreground) / .05);
}

.theme-collapse-summary:focus-visible {
  background-color: rgb(var(--color-foreground) / .05);
}

.theme-collapse-details[open] .theme-collapse-summary {
  background-color: rgb(var(--color-accent) / .1);
  color: rgb(var(--color-accent));
}

.theme-collapse-icon {
  display: inline-flex;
  transition: transform .2s ease;
  margin-right: -.25rem;
}

.theme-collapse-details[open] .theme-collapse-icon {
  transform: rotate(180deg);
}

.theme-collapse-content {
  padding: 1rem;
}


/*
  Separator
*/
hr, .hr {
  border: none;
  border-top: 1px solid rgb(var(--color-foreground) / var(--border-opacity));
  margin: 2em 0;
}


/*
  Sections 
*/
.section-styling {
  background-color: rgb(var(--color-background));
  background-image: var(--color-background-gradient);
  color: rgb(var(--color-foreground));
  transition: background-color 0.2s ease-out;
}

.section-spacing {
  --spacing-scale: 0.1em;
  padding-top: calc(var(--pt) * var(--spacing-scale));
  padding-bottom: calc(var(--pb) * var(--spacing-scale));
}

@media (min-width: 600px) {
  .section-spacing {
    --spacing-scale: 0.125em;
  }
}

.section-header {
  margin-bottom: 1.75em;
  max-width: 600px;
}

.section-header.text-left {
  margin-left: 0;
  margin-right: auto;
}

.section-header.text-center {
  margin-left: auto;
  margin-right: auto;
}

.section-header.text-right {
  margin-left: auto;
  margin-right: 0;
}

.container-full .section-header {
  padding-left: 1rem;
  padding-right: 1rem;
}


/*
  Lists
*/
ul, ol {
  margin-top: 0;
  margin-bottom: 1.5em;
  padding-left: 2em;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.list-check {
  list-style: none;
  padding-left: 1em;
  line-height: normal;
}

.list-check li {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: .5em 0;
}

.list-check li::before {
  content: "✓";
  width: 1em;
  height: 1em;
  flex: 0 0 1em;
  color: rgb(var(--color-accent));
  line-height: 1em;
}


/*
  Various
*/
p {
  margin-top: 0;
  margin-bottom: 1.5em;
}

.description, .rte {
  line-height: 1.5;
}

.description p:last-child,
.rte p:last-child {
  margin-bottom: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

iframe[src*="youtube.com"],
iframe[src*="vimeo.com"],
iframe[data-src*="youtube.com"],
iframe[data-src*="vimeo.com"] {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.shopify-challenge__container {
  padding: 2.5rem;
}

.shopify-policy__container {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important;
  max-width: 720px !important;
}

shop-follow-button {
  background: white;
  display: inline-flex;
  border-radius: 50rem;
  padding: 1px;
  transition: all .2s ease-out
}

shop-follow-button:hover {
  opacity: .85;
}

shopify-accelerated-checkout {
  display: block;
  border-radius: var(--border-radius);
  overflow: hidden;
}


/*
  Newsletter form
*/
.newsletter-form {
}

.newsletter-form .input-wrapper {
  position: relative;
}

.newsletter-form .input:-webkit-autofill,
.newsletter-form .input:-webkit-autofill:hover,
.newsletter-form .input:-webkit-autofill:focus,
.newsletter-form .input:-webkit-autofill:active {
  -webkit-text-fill-color: rgb(var(--color-foreground)) !important;
  caret-color: rgb(var(--color-foreground));
  -webkit-box-shadow: 0 0 0 1000px rgb(var(--color-background)) inset;
  box-shadow: 0 0 0 1000px rgb(var(--color-background)) inset;
  transition: background-color 9999s ease-out 0s;
}

.newsletter-form button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 0;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s ease-out;
  outline-offset: -2px;
}

.newsletter-form button:hover {
  opacity: .85;
  transform: translateY(-50%) scale(1.2);
}

.newsletter-form button:active {
  opacity: .75;
}


/*
  Product rating badge
*/
.product-rating-badge {
  position: relative;
  display: flex;
  align-items: center;
  gap: .5em;
}

.product-rating-badge svg {
  --color: var(--star-rating-color, var(--color-foreground));
  display: block;
}

.product-rating-badge svg .star-rating-bg {
  fill: rgb(var(--color) / 0.15);
}

.product-rating-badge svg .star-rating-fg {
  fill: rgb(var(--color) / 1);
}

.product-rating-badge-count {
  font-size: .925em;
}


/*
  QTY (quantity) switcher
*/
.qty-switcher {
  --width: 7rem;
  display: block;
  position: relative;
  width: var(--width);
}

.qty-switcher .input {
  text-align: center;
  -moz-appearance: textfield;
  appearance: textfield;
  padding-left: 2.5em;
  padding-right: 2.5em;
  height: 100%;
  display: flex;
  align-items: center;
}

.qty-switcher .input::-webkit-outer-spin-button,
.qty-switcher .input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.qty-switcher .btn {
  position: absolute;
  top: 0;
  width: 2.5em;
  padding: 0;
  height: 100%;
  min-width: auto;
  border: none;
  border-radius: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  outline: 2px solid transparent;
  outline-offset: -2px;
  padding: 0;
}

.qty-switcher .btn[name="decrease"] {
  left: 0;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.qty-switcher .btn[name="increase"] {
  right: 0;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.qty-switcher .btn:not(:disabled):hover {
  outline-color: transparent;
}

.qty-switcher .btn:focus-visible {
  outline-color: currentColor;
}