/*
  Body
*/
body {
  font-family: var(--font-body-family);
  font-weight: var(--font-body-weight);
  font-size: var(--body-base-size, 1rem);
  color: rgb(var(--color-foreground));
  background-color: rgb(var(--color-background));
  letter-spacing: var(--letter-spacing);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

#main { flex: 1; }


/*
  Accessibility
*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.skip-link {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
  border-bottom-right-radius: var(--border-radius);
  padding: .5rem 1rem;
  z-index: 100;
  transform: translateY(-100%);
  transition: transform .3s ease;
}

.skip-link:focus {
  transform: translateY(0);
}


/*
  Container
*/
.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}


/*
  Headings
*/
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headings-family);
  font-weight: var(--font-headings-weight);
  margin: 0 0 .35em 0;
}

h1, .h1 { font-size: calc(var(--headings-base-size) * 2.5); }
h2, .h2 { font-size: calc(var(--headings-base-size) * 2); }
h3, .h3 { font-size: calc(var(--headings-base-size) * 1.75); }
h4, .h4 { font-size: calc(var(--headings-base-size) * 1.5); }
h5, .h5 { font-size: calc(var(--headings-base-size) * 1.25); }
h6, .h6 { font-size: calc(var(--headings-base-size) * 1); }

.subheading {
  text-transform: uppercase;
  font-size: .875rem;
  letter-spacing: calc(var(--letter-spacing) * 2);
  margin: 0 0 .6em 0;
}


/*
  Links
*/
a {
  color: rgb(var(--color-foreground));
  text-decoration: underline;
  outline: 2px solid transparent;
}

a:hover {
  text-decoration: none;
}

a:focus-visible {
  outline-color: rgb(var(--color-foreground));
}

a[href="#"],
a[href=""],
a:not([href]) {
  cursor: not-allowed;
  opacity: .5;
}


/*
  Buttons
*/
button,
.btn {
  font-family: var(--font-body-family);
  font-weight: var(--font-body-weight);
  color: rgb(var(--color-foreground));
  background: transparent;
  border: none;
  border-radius: var(--border-radius);
  padding: .5em 1em;
  cursor: pointer;
  display: inline-flex;
  box-sizing: border-box;
  font-size: 1em;
  text-decoration: none;
  letter-spacing: var(--letter-spacing);
  transition: all .3s ease;
  outline: 2px solid transparent;
}

.btn-primary {
  background-color: rgb(var(--btn-color));
  border: 1px solid rgb(var(--btn-color));
  color: rgb(var(--btn-color-contrast, 255 255 255));
}

.btn-primary:hover {
  background-color: rgb(var(--btn-color) / .85);
}

.btn-primary:active {
  background-color: rgb(var(--btn-color) / .75);
}

.btn-primary:focus-visible {
  outline-color: rgb(var(--btn-color));
}

.btn-outline {
  background-color: transparent;
  color: rgb(var(--btn-color));
  border: 1px solid rgb(var(--btn-color));
}

.btn-outline:hover {
  background-color: rgb(var(--btn-color) / .05);
}

.btn-outline:active {
  background-color: rgb(var(--btn-color) / .15);
}

.btn.fs-sm {
  padding: .25em .75em;
  font-size: .875em;
}

.btn.fs-lg {
  padding: .75em 1.5em;
  font-size: 1.125em;
}

.btn-full {
  width: 100%;
}

.btn-group {
  display: inline-flex;
  gap: .75em;
}

.description + .btn-group {
  margin-top: 1.75em;
}

.btn-with-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .75em;
}

.btn-icon {
  padding: .5rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(var(--color-foreground));
  box-sizing: border-box;
  border-radius: 50%;
  transition: all .3s ease;
  outline: 2px solid transparent;
}

.btn-icon:hover {
  background-color: rgb(var(--color-foreground) / .05);
}

.btn-icon:active {
  background-color: rgb(var(--color-foreground) / .15);
}

.btn-icon:focus-visible {
  outline-color: rgb(var(--color-foreground));
}


/*
  Nav
*/
.nav {
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-list li {
}

.nav-list li a {
  text-decoration: none;
  display: block;
  transition: all .3s ease;
}

.nav-list li a:hover {
  background-color: rgb(var(--color-foreground) / .05);
}

.nav-list li a:active {
  background-color: rgb(var(--color-foreground) / .15);
}

.nav-list li a.active {
  color: rgb(var(--color-accent));
  background-color: rgb(var(--color-accent) / .05);
  border-left: 2px solid rgb(var(--color-accent));
  padding-left: calc(1rem - 2px);
}

.nav-list-vertical {
  flex-direction: column;
}

.nav-list-vertical li a {
  padding: .6rem 1rem;
}


/*
  Various
*/
p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.description, .rte {
  line-height: 1.5;
}

.description p:last-child,
.rte p:last-child {
  margin-bottom: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

iframe[src*="youtube.com"],
iframe[src*="vimeo.com"] {
  width: 100%;
  aspect-ratio: 16 / 9;
}


/*
  Utility classes
*/
.fs-sm { font-size: .875em } 
.fs-md { font-size: 1em } 
.fs-lg { font-size: 1.125em } 

.text-left { text-align: left } 
.text-center { text-align: center } 
.text-right { text-align: right }


/*
  Header
*/
#header-group.sticky {
  position: sticky;
  top: 0;
  z-index: 3;
  transition: transform 0.3s ease-out;
}

#header-group.sticky.hide {
  transform: translateY(-100%);
}

#header {
  background-color: rgb(var(--color-background));
  background-image: var(--color-background-gradient);
  color: rgb(var(--color-foreground));
  padding-top: var(--pt);
  padding-bottom: var(--pb);
}

#header[data-border-bottom="true"] {
  border-bottom: 1px solid rgb(var(--color-foreground) / .15);
}

#header[data-box-shadow="true"] {
  box-shadow: 0 .25rem .375rem rgb(var(--color-foreground) / .075);
}

#header-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.header-col:nth-child(1) {
  justify-self: start;
  margin-left: -.25rem;
}

.header-col:nth-child(2) {
  justify-self: center;
  text-align: center;
}

.header-col:nth-child(3) {
  justify-self: end;
  margin-right: -.25rem;
}

#header h1 {
  font-family: var(--font-headings-family);
  font-weight: var(--font-headings-weight);
  color: rgb(var(--color-foreground));
  margin: 0;
  font-size: 1rem;
}

a#header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-theme="light"] [data-has-dark-logo="true"] img#header-logo-dark {
  display: none;
}

[data-theme="dark"] [data-has-dark-logo="true"] img#header-logo-default {
  display: none;
}

@media (min-width: 1200px) {
  #header {
    padding-top: calc(var(--pt) * 1.25);
    padding-bottom: calc(var(--pb) * 1.25);
  }
}


/*
  Announcement bar
*/
.announcement-bar {
  background-color: rgb(var(--color-background));
  background-image: var(--color-background-gradient);
  color: rgb(var(--color-foreground));
  text-align: center;
  padding-top: var(--pt);
  padding-bottom: var(--pb);
}

.announcement-bar[data-border-bottom="true"] {
  border-bottom: 1px solid rgb(var(--color-foreground) / var(--border-opacity));
}

.announcement-bar a {
  color: currentColor;
  text-decoration: underline;
}

@media (min-width: 1200px) {
  .announcement-bar {
    padding-top: calc(var(--pt) * 1.25);
    padding-bottom: calc(var(--pb) * 1.25);
  }
}


/*
  Hero media
*/
.hero-media {
  position: relative;
}

.hero-media::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(var(--overlay-color-rgb, 0 0 0) / var(--overlay-opacity, 0));
  backdrop-filter: blur(var(--overlay-blur, 0));
  pointer-events: none;
}

.hero-media .placeholder-svg {
  width: 100%;
  height: auto;
  max-height: 600px;
}

.hero-media img,
.hero-media video,
.hero-media iframe {
  display: block;
  width: 100%;
  height: 100%;
  min-height: var(--min-height, auto);
  max-height: var(--max-height, none);
  object-fit: cover;
}

.hero-media iframe.hero-media-external-video {
  pointer-events: none;
}

.hero-media-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: rgb(var(--content-color, 255 255 255));
  text-align: center;
  display: flex;
  align-items: center;
}

.hero-media-content-inner {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .hero-media-content-inner.left {
    margin-left: 0;
    margin-right: auto;
    text-align: left;
  }
  .hero-media-content-inner.right {
    margin-left: auto;
    margin-right: 0;
    text-align: right;
  }
}
